.title {
  background: rgb(121, 242, 157);
}
body {
  padding: 0;
}

.ant-typography kbd {
  color: #1890ff !important;
}

.dropdown-menu-item-icon {
  font-size: 14px;
  color: #ccc;
  & :hover {
    color: #1890ff;
  }
}
