// @import '~antd/dist/antd.dark.less'; // 引入官方提供的暗色 less 样式入口文件
// @import 'antd/dist/antd.variable.min.css';
.title {
  background: rgb(121, 242, 157);
}
body {
  padding: 0;
}

#root,
.codegen-main {
  height: 100%;
}

.codegen-main {
  flex-direction: column;
  overflow: hidden;
  .ant-tabs {
    .ant-tabs-nav {
      margin-bottom: 0;
    }
    .ant-tabs-nav-add {
      display: none;
    }
  }
}

// ResourcesTree Menu Items
.menu-item-title-content {
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

.copy-link {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    -webkit-text-decoration-style: dashed;
    text-decoration-style: dashed;
  }
}

.codegen-header {
  padding: 10px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.resources-tree {
  padding: 0 6px;
  height: calc(100vh - 105px);
  display: flex;
  flex-direction: column;
  min-width: 300px !important;
  position: relative;
  .ant-menu-root {
    overflow-y: auto;
    overflow-x: hidden;
  }
  .docs-select {
    padding: 4px 0;
    flex: 1;
    & ~ .ant-button {
      width: 24px;
    }
  }
  .tree-collapse-box {
    position: absolute;
    right: -10px;
    top: 76px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 2px 6px 0px rgb(0 0 0 / 20%);
    border-radius: 50%;
    border: 1px solid #e9e7e7;
    z-index: 9;
    background-color: #fff;
    .anticon {
      font-size: 14px;
    }
  }
  .input-row {
    width: 100%;
  }
}
.resources-tree-collapsed {
  width: 80px !important;
  min-width: 80px !important;
  flex: none !important;
  text-align: center;
  .input-row {
    width: inherit;
  }
}

.ant-typography kbd {
  color: #1890ff !important;
}

.dropdown-menu-item-icon {
  font-size: 14px;
  color: #ccc;
  & :hover {
    color: #1890ff;
  }
}

.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

// 重置vscode中的img默认样式，不影响生成base64图片的大小
img {
  max-width: inherit !important;
  max-height: inherit !important;
}

.search-fixed-box {
  width: 340px;
  border-radius: 4px;
  position: fixed;
  z-index: 9;
  right: 18px;
  top: 154px;
  .search-fixed-option-box {
    flex-wrap: nowrap;
  }
  .search-fixed-option {
    cursor: pointer;
    margin: 0 4px;
    border-radius: 50%;
    &:hover {
      background-color: #fff;
    }
  }
}

// 高亮对象设置class
::highlight(search-results) {
  background-color: #f06;
  color: white;
}

::highlight(search-results-current) {
  // background-color: #ff0;
  background-color: #eded03;
  // color: white;
}
